/* || GENERAL STYLES (default styling) */

@font-face {
  font-family: 'quicksandregular';
  src: url('../fonts/quicksand-regular-webfont.woff2') format('woff2'),
       url('../fonts/quicksand-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px; 										
  font-family: 'quicksandregular', Helvetica, sans-serif;
  color: #333333;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

section {
  margin: 3rem 5vw;
  padding-bottom: 1rem;
}

h1 {
  text-align: center;
  font-size: 4rem;
  line-height: 1.7;
  letter-spacing: 1px;
  margin: 0;
  padding: 5px 0;
  clear: both;
}

h2 {
  text-align: center;
  font-size: 3rem;
  line-height: 1.7;
  letter-spacing: 1px;
  margin-top: 3rem;
  padding: 1rem 0;
  clear: both;
  }

p, li {
  font-size: 2rem;
  line-height: 1.7;
  letter-spacing: 1px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  border: 1px solid #222222;
  border-collapse: collapse;
  padding: 8px;
  font-size: 1.7rem;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) {
  background-color: #fffff0;
}

/* || UTILITIES (a few things you know you want to apply to lots of different elements) */

.img-float-r {
  width: 55%;
  float:right;
  margin: 25px;
  border-radius: 8px;
  box-shadow: 5px 5px 8px 1px rgba(0,0,0,.4);
}

.img-float-l {
  width: 55%;
  float:left;
  margin: 25px;
  border-radius: 8px;
  box-shadow: 5px 5px 8px 1px rgba(0,0,0,.4);
}

p a:visited {
  color: blue;
}

/* || SITEWIDE (basic page layout, header, navigation styling) */

header nav {
  height: 0;
}

/* start hamburger menu */
#menuToggle {
  display: block;
  position: relative;
  width: 80vw;
  top: 30px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #222222;
}

#menuToggle a:hover {
  font-weight: bold;
}

/* hamburger button hidden inside an input element */
#menuToggle input {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -7px;
  left: -5px;
  padding: 0;
  cursor: pointer;
  opacity: 0; /* intentionally hidden */
  z-index: 2; /* placed directly over hamburger */
}

/* hamburger */
#menuToggle label div {
  display: block;
  width: 30px;
  height: 2px;
  margin-bottom: 6px;
  position: relative;
  background: #222222;
  border-radius: 3px;
  z-index: 1;
}

/* change color of hamburger when toggled */
#menuToggle input:checked + label div {
  background: #232323;
}

/* use absolute positioning to place menu off-screen */
#menu {
  position: absolute;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  border-radius: 0 0 2rem 0;
  /* hide menu to the left */
  left: -100%;
  -webkit-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/* slide menu in from left when input is checked */
#menuToggle input:checked ~ ul {
  left: 0;
}
/* end hamburger menu */

#nav-to-top {
  display: block;
  width: 30px;
  height: 30px;
  float: right;
  margin-right: 3vw;
  position: sticky;
  position: -webkit-sticky;
  top: 90vh;
  z-index: 99;
}

footer {
  width: 90%;
  margin-top: 6rem;
  padding: 3rem 5%;
  background-color: #dbe2e7;
}

#contact-footer {
  position: absolute;
  bottom: 0;
}

.contact-text {
  text-align: center;
}

footer ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  align-items: center;
}

footer > ul > li {
  flex: 1;
  color: #222222;
}

#social-media-bar > li {
  display: inline-block;
  width: 25px;
  padding: 1rem;
}

#social-media-bar li a {
  display: block;
}

#social-media-bar li img {
  width: 25px;
}

#social-media-bar p:last-child {
  display: block;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

main figure img {
  float: right;
  max-width: 300px;
  margin: 25px 25px 15px 25px;
  border-radius: 8px;
  box-shadow: 5px 5px 8px 1px rgba(0,0,0,.4);
}

figure {
  float: right;
  margin: 5px;
}

figcaption {
  text-align: center;
  font-size: 1.7rem;
}

/* || SPECIFICS */

/* home page */
.parallax1 {
  background-image: url("../images/andrew-at-cliffs-of-moher.jpg");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .7;
}

.parallax2 {
  background-image: url("../images/wall-shed-1.jpg");
  min-height: 80vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .7;
}

.parallax3 {
  background-image: url("../images/vs-code.jpg");
  min-height: 80vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .7;
}

.intro {
  position: absolute;
  height: auto;
  width: auto;
  margin-top: 1vh;
  margin-left: 50%;
  margin-right: 3%;
  z-index: 1;
}

.intro p {
  font-size: 2.5rem;
  text-align: center;
  color: #222222;
  text-shadow: 0px 0px 1px gray,
               0px 0px 3px white;
}

h2 + ul li {
  list-style-type: none;
}

#concrete-border {
  display: flex;
}

#concrete-border img {
  flex: 1;
  max-width: 45%;
  margin: 25px;
  border-radius: 8px;
  box-shadow: 5px 5px 8px 1px rgba(0,0,0,.4);
}


/* landscape projects navigation */
#landscapeNav {
  display: flex;
  background-color: #222222;
}

#landscapeNav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  flex: 1;
  order: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}
  
#landscapeNav li {
  display: block;   
  border-top: 2px solid gray;
}
  
#landscapeNav li:last-child {
  border-bottom: 2px solid gray;
}
  
#landscapeNav a {
  display: block;
}
  
#landscapeNav a:link, #landscapeNav a:visited {
  text-decoration: none;
  color: ivory;
}

#landscapeNav a:focus, #landscapeNav a:hover {
  background: #dbe2e7;
  color: #222222;
  font-weight: bold;
}

#landscape-header-image {
  background-image: url("../images/backyard-before-1920w.jpg");
  background-size: cover;
  min-height: 48vh;
  max-width: 100%;
}  

#landscape-header {
  height: 10vh;
}